
:host {
    width: 100%;
}

h3 {
    margin: 1em 0;
}

.spinner-loader {
    margin: 20vh auto;
}

.no-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: -5px;
    width: 100%;
    flex: 0 1 25%;

    svg {
        width: 350px;
        height: 350px;

        @media screen and (max-width: 540px) {
            width: 200px;
            height: 200px;
        }
    }

    h2 {
        text-align: center;

        @media screen and (max-width: 540px) {
            font-size: 16px;
        }
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: -5px;
    width: 100%;

    .no-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        svg {
            width: 350px;
            height: 350px;

            @media screen and (max-width: 540px) {
                width: 200px;
                height: 200px;
            }
        }
    }

    .card-wrapper {
        flex: 0 1 25%;
        width: 25%;
        padding: 5px;

        @media screen and (max-width: 1100px) {
            flex-basis: 33.33%;
            width: 33.33%;
        }

        @media screen and (max-width: 767px) {
            flex-basis: 50%;
            width: 50%;
        }

        @media screen and (max-width: 540px) {
            flex-basis: 100%;
            width: 100%;
        }
    }
}
