
// --- App theming --- //

/**
 * $theme: the name of the theme that will be defined.
 * $colors: a map of the theme colors, following this structure:
 *      (
 *          primary: #000,
 *          secondary: #000,
 *          tertiary: #000,
 *          back: #000,
 *          fontPrimary: #000,
 *          fontSecondary: #000
 *      )
 * $container (optional): the general wrapper that will be themed.
 */
@mixin theme($theme, $colors, $container: '.page-wrapper') {

    #{$container}.#{$theme}-theme {
        background-color: map-get($colors, back);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: map-get($colors, fontSecondary);
        }

        .toolbar {
            background-color: map-get($colors, primary);
            color: map-get($colors, fontPrimary);

            .expandable-menu .dropdown {
                background-color: lighten(map-get($colors, primary), 5%);
                color: map-get($colors, fontPrimary);
            }

            #search-bar {
                background-color: map-get($colors, tertiary);
                color: map-get($colors, fontPrimary);
            }
        }

        svg#clouds {
            path {
                fill: darken(map-get($colors, secondary), 10%);
            }
        }

        footer {
            &, & a {
                color: map-get($colors, fontPrimary);
            }

            .bottom {
                svg {
                    path {
                        fill:  map-get($colors, fontPrimary);
                    }
                }
            }
        }

        .card {
            background-color: map-get($colors, secondary);
            border: 1px solid darken(map-get($colors, secondary), 10%);
            color: lighten(map-get($colors, fontSecondary), 25%);
        }

        .shaded-bg {
            background-color: map-get($colors, secondary);
        }

        .no-search {
            svg {
                fill: map-get($colors, secondary);
            }
        }

        .card-container {
            .no-results {
                svg {
                    path {
                        fill: map-get($colors, secondary);
                    }
                }
            }
        }

        @content($colors);
    }

}
