
@include theme('light', $colors: (
    primary: #24292E,
    secondary: #E1E4E8,
    tertiary: #3F4448,
    back: #FFFFFF,
    fontPrimary: #FFFFFF,
    fontSecondary: #24292E
));

@include theme('dark', $colors: (
    primary: #24292E,
    secondary: #4c4c4d,
    tertiary: #3F4448,
    back: #111,
    fontPrimary: #FFFFFF,
    fontSecondary: #24292E
));

@include theme('bubbly', $colors: (
    primary: #944397,
    secondary: #d19cd6,
    tertiary: #535353,
    back: #53005a,
    fontPrimary: #ffffff,
    fontSecondary: #3d0033
)) using ($colors) {
    * {
        border-radius: 20px;
    }
}
