
@import '../styles/resources';
@import '../styles/themes';

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

p {
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: inherit;
    color: inherit;

    &:focus {
        outline: 0;
    }
}

.spacer {
    flex: 1;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;

    .card {
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;

        &.highlight-card {
            background-color: #1976d2;
            color: white;
            font-weight: 600;
            border: none;
            width: auto;
            min-width: 30%;
            position: relative;

            span {
                margin-left: 60px;
            }
        }

        &:not(:last-child) {
            margin-right: 0;
        }

        &:not(.highlight-card) {
            cursor: pointer;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            }
        }
    }
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .1s ease-out;

    &:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: normal;
    min-height: 100vh;
    min-width: 300px;

    .toolbar {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        padding: 0 16px;
        align-items: center;
        font-weight: 600;

        & > svg {
            margin-right: 16px;
            width: 40px;
        }

        .expandable-menu {
            position: relative;

            @media screen and (max-width: 767px) {
                position: static;
            }

            & + .expandable-menu {
                margin-left: 16px;
            }

            & > button {
                display: block;
                width: 25px;
                height: 25px;

                svg {
                    width: 100%;
                    height: 100%;

                    &, & > * {
                        fill:#FFF;
                    }
                }
            }

            .dropdown {
                display: none;
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                box-shadow: 0px 0px 6px 0px rgba(#000000, 0.25);

                @media screen and (max-width: 767px) {
                    top: 100%;
                    right: 0;
                    z-index: -1;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        padding: .25em 1em;
                        white-space: nowrap;

                        &:first-child {
                            padding-top: .75em;
                        }

                        &:last-child {
                            padding-bottom: .75em;
                        }
                    }
                }
            }

            @media screen and (min-width: 768px) {
                &.only-mobile {
                    & > button {
                        display: none;
                    }

                    .dropdown {
                        display: block;
                        position: static;
                        top: auto;
                        left: auto;
                        box-shadow: none;
                    }
                }
            }

            &.theme-selector {
                .dropdown {
                    button {
                        &::before {
                            content: "";
                            width: 35px;
                            height: 35px;
                            display: inline-block;
                            margin-right: 10px;
                            border-radius: 4px;
                            vertical-align: middle;
                        }

                        &[data-theme=light-theme]::before {
                            background-color: #FFF;
                        }

                        &[data-theme=dark-theme]::before {
                            background-color: #7a7a7a;
                        }

                        &[data-theme=bubbly-theme]::before {
                            background-color: #d68ce4;
                        }

                        &.active::before {
                            content: "✓";
                            color: #00b7ff;
                            font-family: Roboto, sans-serif;
                            text-shadow: 0px 0px 4px rgba(#000000, 0.25);
                            font-weight: bold;
                            font-size: 1.7em;

                            &::first-letter {
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }

            &.search-box {
                .dropdown {

                    @media screen and (max-width: 767px) {
                        padding: 10px;
                    }

                    #search-bar {
                        padding: 2px 12px;
                        width: 200px;
                        border: none;
                        border-radius: 6px;

                        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
                        font-size: 14px;
                        font-weight: bold;

                        transition: 0.2s ease-out;

                        &:focus {
                            outline: 0;
                        }

                        @media screen and (max-width: 767px) {
                            display: block;
                            width: 100%;
                            margin: 0;
                            padding: 8px 16px;
                            font-size: 16px;
                        }

                        @media screen and (min-width: 768px) {
                            &:focus {
                                width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }

    .content,
    footer {
        z-index: 20;
    }

    .content {
        flex: 1;
        display: flex;
        margin: 0 auto;
        padding: 60px 16px;
        max-width: 1200px;
        flex-direction: column;
        align-items: center;
    }

    footer {
        margin-top: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 20px;

        .card-container {
            margin: 0 0 20px;
        }

        a {
            display: flex;
            align-items: center;
        }

        .bottom {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;

            a:last-child {
                align-self: center;
                margin-top: -2px;
            }
        }
    }

    svg#clouds {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 38%);
        min-width: 1150px;
        width: 125%;
    }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) {
        width: 100%;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }
}
